@charset "UTF-8";
/*============================================
//  Fonts:
*/
/*/ Prata /*/
@import url("https://fonts.googleapis.com/css?family=Prata");
/*/ Lato /*/
@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");
/*/ Montserrat /*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");
/* Open Sans */
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
/*-------------------------------------
[Master Stylesheet]
Project: O’Connor HTML Template

[Table of contents]

01. Typography;
02. Header style;
03. Common content styles;
04. Custom plugins styles;
05. Pages:

		05.01. Home page;
		05.02. About;
		05.03. Cases;
		05.04. Single case;
		05.05. Appointment;
		05.06. Team page;
		05.07. Practice page;
		05.08. Blog listing;

06. Footer style;
07. Indents;
08. Responsive style;
*/
/*============================================
//  Typography:
*/

/*============================================
//  Header style:
*/
.wrapp-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 400;
}

.wrapp-header--01 {
	position: static;
	background: #2a2e31;
}

.page-header-01 {
	background: url("../img/header_bg/header_bg_01.jpg") no-repeat top center;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

.page-header-02 {
	background: url("../img/header_bg/header_bg_02.jpg") no-repeat top center;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

.page-header-02::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #2e3336;
	opacity: 0.4;
}

.page-header-03 {
	background: url("../img/header_bg/header_bg_03.jpg") no-repeat top center;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

.page-header-04 {
	background: url("../img/header_bg/header_bg_04.jpg") no-repeat top center;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

.page-header-05 {
	background: url("../img/header_bg/header_bg_05.jpg") no-repeat top center;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

.page-header-06 {
	background: url("../img/header_bg/header_bg_06.jpg") no-repeat top center;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

.page-header-07 {
	background: url("../img/header_bg/header_bg_07.jpg") no-repeat top center;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

.page-header-08 {
	background: url("../img/header_bg/header_bg_08.jpg") no-repeat top center;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

.page-header-09 {
	background: url("../img/header_bg/header_bg_09.jpg") no-repeat top center;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

.logo-img {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
}

.logo-img img,
.footer-logo {
	height: auto;
	width: 190px;
}

.logo-img a {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	display: inline-block;
	vertical-align: middle;
}

/*// Info block //*/
.info-block-01 {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	padding: 0 20px;
	position: relative;
	z-index: 1;
}

.info-block-01__address-wrapp {
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	display: inline-block;
	vertical-align: middle;
	padding: 14px 28px 14px 0;
}

.info-block-01__address,
.info-block-01__email {
	font-family: "Lato", "Arial, sans-serif";
	font-size: 14px;
	line-height: 1.5;
	color: #fff;
	font-weight: 700;
	margin-bottom: 0;
}

.info-block-01__email {
	text-decoration: none;
	margin-left: 26px;
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.info-block-01__email:hover {
	opacity: 0.7;
}

.is-sticky .header-content {
	background-color: #383b3d;
	padding-top: 25px;
	padding-bottom: 25px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.is-sticky .menu_item_line {
	top: -37px;
}

.header-content {
	padding: 25px 16px;
}

.header-content.middle_header,
.is-sticky .header-content.middle_header {
	padding-top: 17px;
	padding-bottom: 17px;
}

.menu_item_line {
	background-color: #ccbd99;
	position: absolute;
	top: -39px;
	height: 3px;
	-webkit-transition: width 0.4s, left 0.6s cubic-bezier(0.21, 0.53, 0.01, 0.96);
	-o-transition: width 0.4s, left 0.6s cubic-bezier(0.21, 0.53, 0.01, 0.96);
	transition: width 0.4s, left 0.6s cubic-bezier(0.21, 0.53, 0.01, 0.96);
}

.header-content.middle_header .menu_item_line {
	top: -26px;
}
.is-sticky .header-content.middle_header .menu_item_line {
	top: -24px;
}

.header-content-block {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 6px 0;
}

.contact-phone p {
	font-family: "Lato";
	font-size: 28px;
	line-height: 1.5;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: -0.5px;
	margin: 0;
}

/*// Main navigation //*/
.main-nav {
	margin-right: 30px;
}

.main-nav__list {
	position: relative;
	margin-bottom: 0;
}

.main-nav__list > li {
	margin-right: 30px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
}

.main-nav__list > li:last-child {
	margin-right: 0;
}

.main-nav__list li {
	position: relative;
}

.main-nav__list li:last-child {
	margin-bottom: 0;
}

.main-nav__list li a {
	font-family: "Lato";
	font-size: 20px;
	line-height: 1.5;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	display: block;
}

.main-nav__list li:hover > a,
.main-nav__list li.current_page_item > a,
.main-nav__list li.current-menu-item > a,
.main-nav__list li.current-menu-ancestor > a {
	color: #ccbd99;
}

.main-nav__list li ul {
	width: 200px;
	position: absolute;
	top: 100%;
	left: -22px;
	padding: 15px 20px;
	background-color: #fff;
	z-index: 100;
	display: none;
	-webkit-box-shadow: 0 0 5px 0 rgba(66, 71, 76, 0.06);
	box-shadow: 0 0 5px 0 rgba(66, 71, 76, 0.06);
	margin-top: 35px;
	margin-bottom: 0;
	border-radius: 5px;
}

.main-nav__list li ul li {
	margin-bottom: 5px;
}

.main-nav__list li ul li .sf-with-ul {
	padding-right: 0;
	position: relative;
}

.main-nav__list li ul li .sf-with-ul::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	top: 50%;
	right: -15px;
	border-top: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #2e3336;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	transform: translateY(-3px);
}

.main-nav__list li ul li a {
	font-size: 18px;
	color: #2e3336;
}

.main-nav__list li ul li ul {
	position: absolute;
	top: 0;
	left: 100%;
	margin-top: -16px;
	margin-left: 25px;
}

.sf-with-ul {
	padding-right: 15px;
	position: relative;
}

.sf-with-ul::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	top: 50%;
	right: 0;
	border-top: 5px solid #fff;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid transparent;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: border-top-color 0.5s;
	-o-transition: border-top-color 0.5s;
	transition: border-top-color 0.5s;
}

.sf-with-ul:hover::before,
.current-menu-ancestor .sf-with-ul::before {
	border-top-color: #ccbd99;
}

.main-nav__btn-wrapp {
	text-align: center;
}

.main-nav__btn {
	display: none;
	vertical-align: middle;
	cursor: pointer;
	width: 50px;
	height: 50px;
	padding: 0;
	color: #fff;
	position: relative;
}

.main-nav__btn:hover .icon-left {
	background-color: #c2b697;
}

.main-nav__btn:hover .icon-left::before {
	background-color: #c2b697;
}

.main-nav__btn:hover .icon-left::after {
	background-color: #c2b697;
}

.main-nav__btn:hover .icon-right {
	background-color: #c2b697;
}

.main-nav__btn:hover .icon-right::before {
	background-color: #c2b697;
}

.main-nav__btn:hover .icon-right::after {
	background-color: #c2b697;
}

.main-nav__btn .icon-left {
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	position: absolute;
	height: 4px;
	top: 23px;
	width: 15px;
	left: 11px;
	background-color: #fff;
}

.main-nav__btn .icon-left::before {
	content: "";
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	position: absolute;
	width: 15px;
	height: 4px;
	background-color: #fff;
	top: -10px;
	left: 0;
}

.main-nav__btn .icon-left::after {
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	position: absolute;
	width: 15px;
	height: 4px;
	background-color: #fff;
	content: "";
	top: 10px;
	left: 0;
}

.main-nav__btn .icon-right {
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	position: absolute;
	height: 4px;
	top: 23px;
	width: 15px;
	background-color: #fff;
	left: 15px;
	left: 25px;
}

.main-nav__btn .icon-right::before {
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	position: absolute;
	width: 15px;
	height: 4px;
	background-color: #fff;
	content: "";
	top: -10px;
	left: 0;
}

.main-nav__btn .icon-right::after {
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	position: absolute;
	width: 15px;
	height: 4px;
	background-color: #fff;
	content: "";
	top: 10px;
	left: 0;
}

.main-nav__btn.open .icon-left {
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	background: transparent;
}

.main-nav__btn.open .icon-left::before {
	-webkit-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
	-ms-transform: rotate(45deg) scaleX(1.4) translate(2px, 2px);
	transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
}

.main-nav__btn.open .icon-left::after {
	-webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
	-ms-transform: rotate(-45deg) scaleX(1.4) translate(2px, -2px);
	transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
}

.main-nav__btn.open .icon-right {
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	background-color: transparent;
}

.main-nav__btn.open .icon-right::before {
	-webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
	-ms-transform: rotate(-45deg) scaleX(1.4) translate(-2px, 2px);
	transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
}

.main-nav__btn.open .icon-right::after {
	-webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
	-ms-transform: rotate(45deg) scaleX(1.4) translate(-2px, -2px);
	transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
}

/*============================================
//  Responsive:
*/
@media only screen and (max-width: 1400px) {
	/*// Page title //*/
	.page-header--02 .page-subtitle::before,
	.page-subtitle::before,
	.content-title-01::before,
	.full-block-01__title::before,
	.full-block-02__title::before,
	.full-block-03__title::before,
	.full-block-04__title::before,
	.full-block-05__title::before,
	.full-block-06__title::before {
		position: static;
		margin-right: 15px;
		width: 35px;
	}

	.banner-01 {
		padding: 30px 10px 60px 50px;
	}

	.banner-01__title::before {
		width: 40px;
		left: -53px;
	}
}

@media only screen and (max-width: 1261px) {
	.team-block--01 {
		margin-top: -295px;
	}

	.logo-img a {
		padding: 4px 0 0;
	}
}

@media only screen and (max-width: 1199px) {
	.main-nav {
		margin-right: 5px;
	}

	.main-nav .main-nav__list > li {
		margin-right: 15px;
	}

	.main-nav .main-nav__list > li a {
		font-size: 18px;
	}

	.page-header {
		padding-bottom: 50px;
	}
}

@media only screen and (max-width: 991px) {
	.main-nav {
		margin-right: 0;
		margin-bottom: 25px;
	}

	/*// Header //*/
	.sticky-wrapper,
	.is-sticky {
		height: auto !important;
	}

	.menu_item_line {
		display: none;
	}

	.is-sticky .header-content {
		position: static !important;
		height: auto !important;
		padding-top: 25px;
		padding-bottom: 25px;
		background-color: #2a2e31;
	}

	.social-list-01 {
		text-align: center;
		margin-bottom: 10px;
	}

	.copyright-text {
		text-align: center;
		margin-bottom: 20px;
	}

	.logo-img {
		padding-bottom: 30px;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.header-content-block {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.header-content {
		padding-left: 0;
		padding-right: 0;
	}

	.search-block {
		margin-right: 0;
		margin-bottom: 15px;
		border: none;
	}

	.full-block-06 {
		background: #f8f8f8;
	}
	/* Page title */
	.page-subtitle::before {
		width: 34px;
	}
}

@media only screen and (max-width: 767px) {
	/* Header */
	.social-list-02 {
		float: none;
		text-align: center;
		margin: 10px 0;
	}

	.info-block-01__address-wrapp {
		border-right: none;
		padding: 14px 28px;
	}

	.info-block-01__email {
		margin: 0;
		float: none;
		display: inline-block;
		vertical-align: middle;
	}

	.front-block {
		padding: 50px 0;
	}

	.front-block__phone {
		font-size: 42px;
	}
	/*/ Main navigation /*/
	.header-content-block {
		padding-bottom: 0;
	}

	.main-nav {
		width: 100%;
		text-align: center;
		padding-top: 17px;
		margin-bottom: 0;
		-webkit-box-ordinal-group: 4;
		-webkit-order: 3;
		-ms-flex-order: 3;
		order: 3;
	}

	.main-nav__btn {
		display: inline-block;
		vertical-align: middle;
		margin-top: 5px;
	}

	.main-nav__list {
		padding: 0;
		width: 100%;
		margin: 0;
		opacity: 0;
		visibility: hidden;
		max-height: 0;
		-webkit-transition: max-height 0.8s linear, opacity 0.8s linear, visibility 0.8s linear;
		-o-transition: max-height 0.8s linear, opacity 0.8s linear, visibility 0.8s linear;
		transition: max-height 0.8s linear, opacity 0.8s linear, visibility 0.8s linear;
	}

	.main-nav__list .menu-item:last-of-type {
		border-bottom: none;
	}

	.main-nav__list li {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		margin: 0;
		padding: 10px 0;
		border-bottom: 1px solid #464a4d;
	}

	.main-nav__list li:first-child {
		padding-top: 0;
	}

	.main-nav__list li:last-child {
		border-bottom: none;
	}

	.main-nav__list li ul {
		position: static;
		width: 100%;
		background: transparent;
	}

	.main-nav__list li ul li {
		padding-bottom: 15px;
		margin-bottom: 13px;
	}

	.main-nav__list li ul li a {
		color: #fff;
	}

	.main-nav__list li ul li:last-child {
		padding-bottom: 4px;
	}

	.main-nav__list li ul li > .sf-with-ul {
		padding-left: 0;
		padding-top: 0;
		margin-right: 10px;
	}

	.main-nav__list li ul li > .sf-with-ul::before {
		border-left: 5px solid #fff;
	}

	.main-nav__list li ul li ul {
		width: 100%;
		padding-bottom: 10px;
		padding-top: 23px;
		position: static;
		margin-top: 0;
		margin-left: 0;
	}

	.main-nav__list li ul li ul li:last-child {
		padding-bottom: 0;
	}

	.main-nav__list.open {
		max-height: 3000px;
		opacity: 1;
		visibility: visible;
	}

	.logo-img {
		padding-bottom: 10px;
	}
}

.top_header {
	background: #fff;
	color: #787a7b;
}
.top_header .container {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	height: 92px;
}
.top_header .container:before,
.top_header .container:after {
	display: none;
}
.top_header .header_side {
	position: relative;
	height: 100%;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
}
.top_header .header_side.left {
	text-align: left;
}
.top_header .header_side.right {
	text-align: right;
}
.header_side_container {
	display: inline-block;
	max-height: 100%;
	height: 100%;
	white-space: nowrap;
}
.header_side_container:before {
	display: inline-block;
	height: 100%;
	content: "";
	vertical-align: middle;
}
.logo_container {
	position: relative;
	z-index: 1;
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.logo_container:before {
	display: inline-block;
	height: 100%;
	content: "";
	vertical-align: middle;
}
.logo_container a {
	display: inline-block;
	color: inherit;
	vertical-align: middle;
}
.logo_container img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	vertical-align: middle;
	height: 50px;
}
.gt3_header_builder_component {
	position: relative;
	z-index: 1;
	display: inline-block;
	padding-right: 3px;
	padding-left: 3px;
	vertical-align: middle;
	white-space: normal;
}
.gt3_header_builder_empty_space_component {
	width: 40px;
	padding: 0;
}
.gt3_header_builder_text_component p {
	margin: 0;
	padding: 0;
	color: inherit;
}
p.header_icon {
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	width: 32px;
	height: 32px;
}
p.header_text {
	display: inline-block;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	text-align: left;
}
p.header_phone {
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	color: #47414f;
}

.middle_header,
.is-sticky .header-content.middle_header {
	background: rgba(71, 65, 79, 1);
	color: #fff;
}

.middle_header .header-content-block nav {
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.middle_header .search-block {
	border: none;
	margin-right: 20px;
}
.middle_header .search-block .search-icon-btn {
	margin: 0;
	width: 43px;
	height: 30px;
}
.header_btn {
	margin-top: -10px;
	margin-bottom: -10px;
}
.header_btn a {
	margin: 0 !important;
}
.header_btn .button-03 {
	background-color: #fff;
	border-color: rgba(232, 232, 232, 0.8);
	color: #c2b697;
}
.header_btn .button-03:hover {
	background-color: #ccbd99;
	border-color: #ccbd99;
	color: #fff;
}

.middle_header .logo_container {
	text-align: center;
	padding: 10px 0;
	margin-bottom: 10px;
	display: none;
}

.tp-loader {
}

.gt3_icon_box_shawow {
	box-shadow: 0 17px 31px 0 rgba(0, 0, 0, 0.16);
	margin-top: calc(-4.7vw);
	margin-bottom: 50px;
	background: #fff;
	position: relative;
	padding: 46px 0;
}
.gt3_icon_box_shawow .row {
	margin: 0;
}
.gt3_icon_box_shawow .row > * {
	padding: 0;
}
.gt3_icon_box_shawow .icon-box-01 {
	padding: 0 40px 0 50px;
	margin: 0;
	position: relative;
	font-size: 16px;
	line-height: 1.5;
	height: 100%;
}
.gt3_icon_box_shawow .icon-box-01:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background: #f0ebe1;
	content: "";
}
.gt3_icon_box_shawow .icon-box-01.first:before {
	display: none;
}
.gt3_icon_box_shawow h4 {
	padding: 17px 0 0 60px;
	position: relative;
	margin-bottom: 9px;
	font-size: 18px;
	line-height: inherit;
}
.gt3_icon_box_shawow h4 img {
	position: absolute;
	left: 0;
	bottom: 8px;
	width: 42px;
	height: auto;
}
.gt3_icon_box_shawow p {
	font-size: inherit;
	line-height: inherit;
}

@media only screen and (max-width: 1200px) {
	.gt3_header_builder_empty_space_component {
		width: 12px;
	}
}

@media only screen and (min-width: 1000px) {
	.main-nav__list li ul:after {
		position: absolute;
		top: -10px;
		left: 20px;
		z-index: 2;
		width: 0;
		height: 0;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #ffffff;
		border-left: 10px solid transparent;
		content: "";
	}
}

@media only screen and (max-width: 991px) {
	.wrapp-header .search-block {
		display: none;
		visibility: hidden;
	}
	.middle_header .logo_container {
		display: block;
	}
	.header_btn {
		margin-top: 0;
		margin-bottom: 0;
	}
	.top_header {
		display: none;
	}
}

@media only screen and (max-width: 767px) {
	.gt3_header_builder_empty_space_component {
		width: 3px;
	}
}
.logo-onscroll {
				display: none !important;
			}
@media only screen and (min-width: 991px) {
	.middle_header {
		// padding: 0 !important;
		.container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			flex-direction: row-reverse;
			// .logo-onscroll {
			// 	display: block !important;
			// }
			.header-content-block {

			}
		}
	}
}
