@font-face {
    font-family: 'Prata';
    src: local('Prata'), local('Prata-Regular'), url('Prata.woff2') format('woff2'), url('Prata.woff') format('woff'), url('Prata.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
